<br><br><br><br>
<div class="container justify-content-center">
    <form class="form-signin"  [formGroup]="registerForm" return (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-7 font-weight-normal">Reset Your Password</h1>
      <div class="form-group">
        <label for="inputName" >Username</label>
        <input type="text"  [formControlName]="'username'" class="form-control"  id="inputName" required="" autofocus="" >
      </div>
      <br>
      <div class="form-group">
        <label for="inputUsername" class="sr-only">New Password</label>
        <input type="text" id="inputUsername" [formControlName]="'password'" class="form-control"  required="" autofocus="">
      </div>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
    </form>
  </div>