<br><br><br>

<div class="container justify-content-center">
    <form class="form-signin" [formGroup]="registerForm" return (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-7 font-weight-normal">Registration Form</h1>
      <div class="form-group">
        <label for="inputName" >Name</label>
        <input type="text"  [formControlName]="'name'" class="form-control" placeholder="Provide name" id="inputName" required="" autofocus="" >
      </div>
      <br>
      <div class="form-group">
        <label for="inputUsername" class="sr-only">Login ID</label>
        <input type="text" id="inputUsername" [formControlName]="'username'" class="form-control" placeholder="Username" required="" autofocus="">
      </div>
      <br>
      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email</label>
        <input   type="text" id="inputEmail" [formControlName]="'email'"class="form-control" placeholder="Email" required="" autofocus="">
      </div>
      <br>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" [formControlName]="'password'" class="form-control" placeholder="Password" required="">
      </div>
      <br>
      <div class="form-group">
        <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
        <input aria-required="true" type="password" id="inputConfirmPassword" [formControlName]="'confirmPassword'" class="form-control" placeholder="Confirm Password" required="">
      </div>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Add new Register</button>
    </form>
  </div>